body {
  width: 80%;
  margin: 0px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Topbar section*/

.topbar {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#searchbar {
  margin-right: 40px;
}

/*Topics Section*/

.topics {
  background-color: rgb(223, 255, 219);
  box-shadow: 4px 4px 4px lightgray;
}

.topics li {
  list-style: none;
}

.topics-description {
  margin: 15px;
}

.topics-bottom {
  padding: 0px;
}

/*Posts Section*/

.posts-grid-container, .topics-grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  
}

.post {
  
  background-color: rgb(227, 255, 255);
  box-shadow: 4px 4px 4px lightgray;
}

.post-rating {
  display: flex;
  padding: 0;
  justify-content: center;
}

.post-about {
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 0.8em;
  
}

.post-title {
  margin: 15px;
}

.post li {
  list-style: none;
  padding: 10px;
}



/*Trending section*/

.trending-flex-container {
  display: flex;
  justify-content: center;
  

}
.trending-post {
  flex-basis: 20%;
  margin: 5px;
  background-color: rgb(255, 226, 198);
  box-shadow: 4px 4px 4px lightgray;
}

.trending-about {
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 0.6em;
  
}

.trending-rating {
  display: flex;
  padding: 0;
  justify-content: center;
}

.trending-title {
  font-size: 0.9em;
}

.trending-bottom {
  display: flex;
  justify-content: center;
  padding: 0;
}

.trending-post li {
  list-style: none;
  padding: 10px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button, input {
  margin: 2%;
  border: 2px solid black;
  border-radius: 28px;
  box-shadow: 1px 1px 1px black;
 
  
}

form {
  position: relative;
  display: flex;
  min-width: 100px;
}